*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    gap: 10px;
    font-size: 21px;
}